html,body{
    scroll-behavior: smooth;
}
.home-image{
    width: 500px;
    margin-top: -125px;
}


.nav-link:hover{
    opacity: 0.5;
    text-decoration: underline;
}

.icons{
    width:50px !important;
    height:50px !important;
}

.icons:hover{
    opacity: 0.6;
}

.footer{
    width:30%;
}


@media (max-width: 950px) {
    /* … */
    .home-image{
        width: 200px !important;
        margin: 0 auto !important;
    }

    .icons{
        width:25px !important;
        height:25px !important;
    }
    .footer{
        width:50%;
    }
  }